html,
body,
#root {
	height: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-fluid {
	height: 100%;
}
.leaflet-container {
	height: 500px;
	width: 100%;
}
.nav-style {
	padding-top: 50px;
	height: 100vh;
}
.map-container {
	padding-top: 50px;
}

.draw-map-indice {
	margin: auto;
}

.draw-container {
	padding-top: 5px;
	padding-bottom: 5px;
}

.view-container {
	padding-top: 30%;
}