html,
body,
#root {
	height: 100%;
}
.App {
  text-align: center;
}
.container-fluid {
	height: 100%;
}
.leaflet-container {
	height: 500px;
	width: 100%;
}
.nav-style {
	padding-top: 50px;
	height: 100vh;
}
.map-container {
	padding-top: 50px;
}

.draw-map-indice {
	margin: auto;
}

.draw-container {
	padding-top: 5px;
	padding-bottom: 5px;
}

.view-container {
	padding-top: 30%;
}